RewriteEngine On # Turn on the rewriting engine 
# RewriteBase /php-proto-dev # Optional: Specify the base URL for per-directory rewrites
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
